$container-width: 1290px;
$main-100: #111113;
$main-80: #666666;
$main-60: #999999;
$main-40: #cccccc;
$main-30: #e5e5e5;
$main-20: #f2f2f2;
$main-10: #fcfcfc;
$green: #76c174;
$error: #f44e4a;
$silver-100: #929292;
$silver-80: #a7a7a7;
$silver-70: #b3b3b3;
$silver-60: #b2b2b2;
$line: #f2f2f2;
$red: #bd3735;
$btn: #000000;
$btn-dis: #929292;
$white: #ffffff;
$black-white: linear-gradient(0, $main-100, $main-40);
$transition: all 0.3s ease;

@import './base/fonts';
@import './base/global';
@import './base/spinner';

@import './block/header';
@import './block/footer';
@import './block/products';
@import './block/productScreen';
@import './block/cartScreen';
@import './block/loginScreen';
@import './block/orderScreen';
@import './block/placeOrderScreen';

@import './base/media';
