@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Thin.ttf'),
    url('../../fonts/ApercuPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-ExtraLight.ttf'),
    url('../../fonts/ApercuPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Light.ttf'),
    url('../../fonts/ApercuPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Regular.ttf'),
    url('../../fonts/ApercuPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Medium.ttf'),
    url('../../fonts/ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Bold.ttf'),
    url('../../fonts/ApercuPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Pro';
  src: local('../../fonts/ApercuPro-Black.ttf'),
    url('../../fonts/ApercuPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'History Pro';
  src: local('../../fonts/HistoryPro-Two.ttf'),
    url('../../fonts/HistoryPro-Two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
