* {
	font-family: 'Apercu Pro';
	color: $main-100;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}
img {
	display: inline-block;
	max-width: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h2 {
	font-family: 'History Pro';
	font-size: 24px;
	line-height: 40px;
}
table {
	margin: 0 auto;
}
td,
th {
	padding: 10px 20px;
}
tr {
	border-bottom: 1px solid #ccc;
}
/* Section five*/
td {
	text-align: center;
	border-bottom: 1px solid #eee;
}
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.home-screen {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	max-width: $container-width;
	padding: 0 20px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 320px;
	height: 60px;
}
.title {
	font-family: 'History Pro';
	font-size: 36px;
	line-height: 52px;
	max-width: 430px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	span {
		font-size: 42px;
		font-weight: bold;
	}
	sup {
		font-family: History Pro;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.01em;
		color: $main-60;
	}
}
.subtitle {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 20px 0;
	color: $main-80;
}
.rating {
	i {
		color: $red;
	}
}
#rating {
	select {
		cursor: pointer;
	}
}
.btn {
	cursor: pointer;
	margin: 50px 0 30px 0;
	background-color: $btn;
	color: $white;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	padding: 18px 95px;
	&:disabled {
		background-color: $btn-dis;
		cursor: auto;
	}
	&-edit,
	&-remove {
		margin: 0;
		padding: 15px 30px;
		i {
			font-size: 15px;
		}
	}
	&-edit {
		background-color: green;
	}
	&-remove {
		background-color: darkred;
	}
}
.message {
	padding: 20px 50px;
	background-color: $error;
	color: $white;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.08em;
	&.green {
		background-color: green;
	}
}
.form {
	position: relative;
	margin: 40px 0;
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 20px;
	&-item {
		position: relative;
		max-height: 100px;
	}
	&-input {
		position: relative;
		height: 100%;
		min-width: 310px;
		padding: 20px 15px 10px 15px;
		font-size: 16px;
		line-height: 24px;
	}
	&-label {
		position: absolute;
		top: 5px;
		left: 15px;
		z-index: 1;
		user-select: none;
		font-size: 12px;
		line-height: 10px;
		color: $silver-60;
	}
}
.checkout-steps {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	span {
		color: $main-60;
	}
}
.search {
	position: absolute;
	left: 50%;
	// top: 50%;
	top: -50%;
	transform: translateX(-50%);
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transition: $transition;
	padding: 30px 10px 10px 10px;
	border: 1px solid $main-100;
	min-width: 500px;
	&-input {
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.08em;
	}
	&-btn {
		cursor: pointer;
		font-size: 16px;
	}
	&-close {
		font-size: 18px;
		position: absolute;
		cursor: pointer;
		right: 2%;
		top: 0;
	}
	&-form {
		display: grid;
		grid-template-columns: 5fr 1fr;
		column-gap: 5px;
	}
	&.active {
		top: 60%;
		visibility: visible;
		opacity: 1;
		z-index: 5;
	}
}
.paginate {
	display: grid;
	grid-template-columns: repeat(10, 20px);
	justify-items: flex-start;
	align-items: center;
	gap: 10px 20px;
	margin-top: 20px;
	&-item {
		border: 1px solid $red;
		border-radius: 20%;
		span {
			font-family: History Pro;
			letter-spacing: 0.01em;
			line-height: 32px;
			font-size: 16px;
			padding: 5px 10px;
			transition: $transition;
		}
		transition: $transition;
		&.active {
			border: 1px solid $red;
			background-color: $main-100;
			span {
				color: white;
			}
		}
	}
}
.home-screen-top {
	position: relative;
	width: 100%;
	height: 650px;
	background: center (top / cover) no-repeat;
	background-color: #dee0de;
	&-wrapper {
		padding: 100px 0 0 100px;
		display: grid;
		align-items: center;
		justify-items: flex-start;
		max-width: 500px;
	}
	&-title {
		font-family: 'History Pro';
		font-size: 48px;
		line-height: 64px;
		letter-spacing: 0.01em;
		color: $main-100;
		span {
			font-size: 55px;
			letter-spacing: 0.01em;
			line-height: 64px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	&-subtitle {
		font-size: 16px;
		line-height: 24px;
		color: $main-80;
	}
	&-btns {
		margin: 20px 0;
	}
	&-mobile {
		display: none;
		background-color: #e0e2e0;
	}
	&-img {
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.comfortable {
	.logo {
		margin: 0 auto;
	}
}
.white-text {
	font-family: 'History Pro';
	font-size: 40px;
	line-height: 56px;
	letter-spacing: 0.01em;
	color: $white;
	text-align: center;
	span {
		display: block;
		font-weight: bold;
		font-size: 45px;
		line-height: 56px;
		letter-spacing: 0.01em;
		color: $white;
		text-transform: uppercase;
	}
}
.wrong-bra {
	min-height: 750px;
	display: grid;
	align-items: center;
	justify-items: center;
	background: center (top / cover) no-repeat;
}
.burger {
	padding: 8px 8px;
	margin: 10px;
	cursor: pointer;
	position: relative;
	min-height: 5px;
	min-width: 20px;
	&-line {
		width: 20px;
		height: 2px;
		background-color: $main-100;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
	&::before,
	&::after {
		content: '';
		width: 20px;
		height: 2px;
		position: absolute;
		background-color: $main-100;
	}
	&::before {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&::after {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.swiper-pagination-bullet {
	width: 100px;
	height: 5px;
	border-radius: 0;
}
