* {
	font-family: 'Apercu Pro';
	color: $main-100;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	height: 100%;
}
img {
	display: inline-block;
	max-width: 100%;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h2 {
	font-family: 'History Pro';
	font-size: 24px;
	line-height: 40px;
}
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.home-screen {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	max-width: $container-width;
	padding: 0 20px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.title {
	font-family: 'History Pro';
	font-size: 36px;
	line-height: 52px;
	max-width: 430px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	span {
		font-size: 42px;
		font-weight: bold;
	}
}
.rating {
	i {
		color: $red;
	}
}
.btn {
	cursor: pointer;
	margin: 50px 0 30px 0;
	background-color: $btn;
	color: $white;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	padding: 18px 95px;
	&:disabled {
		background-color: $btn-dis;
		cursor: auto;
	}
}
.message {
	padding: 20px 50px;
	background-color: $error;
	color: $white;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.08em;
	&.green {
		background-color: green;
	}
}
.form {
	position: relative;
	margin: 40px 0;
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 20px;
	&-item {
		position: relative;
		max-height: 100px;
	}
	&-input {
		position: relative;
		height: 100%;
		min-width: 310px;
		padding: 20px 15px 10px 15px;
		font-size: 16px;
		line-height: 24px;
	}
	&-label {
		position: absolute;
		top: 5px;
		left: 15px;
		z-index: 1;
		user-select: none;
		font-size: 12px;
		line-height: 10px;
		color: $silver-60;
	}
}
