.product-carousel {
	&-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		a {
			position: relative;
		}
	}
	&-img {
		width: 400px;
		height: 500px;
		position: relative;
		object-fit: cover;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
