.product-screen {
	flex: 1 1 auto;
	&-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	&-up {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 20px;
		column-gap: 130px;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	&-down {
		display: grid;
		margin-left: 70px;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	&-prices {
		display: grid;
		grid-template-columns: repeat(2, 80px);
		align-items: center;
		justify-items: start;
	}
	&-price {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
	}
	&-old-price {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-decoration-line: line-through;
		color: $silver-80;
	}
	&-buttons {
		display: grid;
		grid-template-columns: 3fr 1fr;
		align-items: center;
		justify-items: flex-start;
		column-gap: 40px;
	}
	&-favorite {
		margin: 40px 0 20px 0;
		cursor: pointer;
		padding: 10px;
		&:disabled {
			i {
				color: $main-100;
			}
		}
		i {
			font-size: 24px;
			color: $red;
		}
	}
	&-title {
		font-family: 'History Pro';
		font-size: 36px;
		line-height: 52px;
		letter-spacing: 0.01em;
		margin-bottom: 15px;
	}
	&-subtitle {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.01em;
		margin: 30px 0 12px 0;
		text-transform: capitalize;
		span {
			text-transform: capitalize;
			font-weight: normal;
		}
	}
	&-column {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
	}
	&-model {
		font-size: 16px;
		font-weight: bold;
		margin: 30px 0 12px 0;
		line-height: 24px;
		color: $main-100;
	}
	&-qty {
		padding: 5px 10px;
		cursor: pointer;
		margin: 30px 0 12px 0;
	}
	&-images {
		display: grid;
		column-gap: 20px;
		grid-template-columns: 1fr auto;
		&-list {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 20px;
			max-height: 760px;
		}
	}
	&-image {
		cursor: pointer;
		width: 120px;
		height: 150px;
	}
	&-mainImg {
		max-width: 500px;
		max-height: 760px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-colors,
	&-band-sizes {
		display: grid;
		justify-items: center;
		column-gap: 10px;
		row-gap: 15px;
		grid-template-columns: repeat(10, 1fr);
	}
	&-color,
	&-band-size {
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		cursor: pointer;
		transition: $transition;
	}
	&-guide {
		font-size: 14px;
		line-height: 20px;
		color: $main-80;
	}
	&-color {
		&::before {
			content: '';
			position: absolute;
			transition: $transition;
			width: 95%;
			height: 95%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 100%;
			border: 2px solid $main-100;
		}
	}
	&-band-size {
		background-color: transparent;
		border: 1px solid $main-60;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-weight: bold;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.01em;
			transition: $transition;
		}
		&:disabled {
			background-color: $main-10;
			cursor: auto;
			border: 1px solid $main-60;
			span {
				color: $main-60;
			}
			&:before {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $main-40;
				position: absolute;
				left: 0;
				transform: rotate(45deg);
			}
		}
	}
	&-delivery,
	&-delivery a {
		font-size: 12px;
		line-height: 16px;
		color: $main-80;
		a {
			margin-left: 10px;
		}
	}
	&-payment {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 15px;
		margin-top: 32px;
		&-img {
			max-width: 80px;
			max-height: 50px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
.product-accordion {
	&-title {
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.01em;
		margin: 30px 0 12px 0;
		position: relative;
		transition: $transition;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 10px;
			height: 2px;
			background-color: $main-100;
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 4px;
			width: 2px;
			height: 10px;
			background-color: $main-100;
		}
		&.active {
			&::before {
				height: 0;
			}
		}
	}
	&-descr {
		display: none;
		margin: 25px 0;
		font-size: 16px;
		line-height: 24px;
		&.active {
			display: block;
		}
	}
}
