.profile-screen {
	padding: 70px 0;
	&-wrapper {
		padding-top: 100px;
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: flex-start;
		justify-items: end;
	}
	&-redirect {
		font-size: 16px;
		line-height: 20px;
		color: $silver-100;
		a {
			font-size: 16px;
			line-height: 20px;
			color: $main-100;
		}
	}
	table {
		width: 100%;
	}
}
